body {
    color: purple;
    background-color: pink;
    /*
    background-image: url(../images/milkandvine.jpg);
    background-repeat: no-repeat;
    background-position: 100%; */
    
}

header {
    display: inline-block;
    
}


#phraseToGuess {
    display: flex-wrap;
}

.floats {
    float: left;
    margin-right: 30%;
    margin-left: 30%;
}

.special {
    margin-right: 50%;
    font-size: 3em;
}

.spacing {
    padding-top: 5%;
} 