body {
    font-family: 'Racing Sans One', cursive;
    background-color: #90d5ec;
    color: white;
    text-transform: capitalize;
}

img {
    position: absolute;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -2;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 1.7rem;
}

section {
    
    text-align: center;
    justify-content: center;
    align-items: center;
} 

#wins, #losses {
    padding-left: 25px;
}

.content {
    padding: 4%;
    background-color: rgba(41, 41, 41, 0.7);
}

.scores {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

#phraseToGuess {
    margin-bottom: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1%;
}